.Header{
    min-height: 50px;
    background-color: mediumpurple;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header a{
    text-decoration: none;
    color:beige;
    font-size: larger;
}
.Header a[class='active']{
    color: darkmagenta;
}